<div
  class="h-full border-1 border-gray-100 border-opacity-60 rounded-lg overflow-hidden flex flex-col"
>
  <img
    class="md:h-[350px] w-full object-cover object-center"
    [src]="product.imageCover"
    alt="blog"
  />
  <div class="p-6 flex flex-col justify-between flex-1 bg-white">
    <div>
      <h2
        class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
      >
        {{ product.category.name }}
      </h2>
      <a
        [routerLink]="['/details', product._id, product.slug]"
        [queryParams]="{ page: page }"
        class="title-font text-lg font-medium text-gray-900 mb-3 line-clamp-1"
      >
        {{ product.title }}
      </a>
      <p class="leading-relaxed mb-3 font-light text-gray-400 line-clamp-2">
        {{ product.description }}
      </p>
    </div>
    <div class="flex items-center justify-between gap-3">
      <p class="text-lg font-medium text-secondary">
        {{ product.price }}<span> EGP </span>
      </p>
      <div class="card-icons flex justify-center items-center gap-2">
        <i
          title="Add to Cart"
          class="fa fa-solid fa-cart-shopping btn-main-circled text-xs"
        ></i>
        <i
          title="Add to Wishlist"
          class="fa fa-solid fa-heart btn-main-circled text-xs"
        ></i>
      </div>
    </div>
  </div>
</div>
