<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img1.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img2.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img3.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img4.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img5.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img6.avif"
      alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img
      class="sm:object-contain md:object-cover"
      src="/main-slider/img7.avif"
      alt=""
  /></ng-template>
</owl-carousel-o>
