:root {
  --main-color: #111827;
  --secondary-color: #0aad0a;
  --secondary-color-muted: #007200;
  --light-color: #f6f6f6;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --rating-color: #ffc908;
}
