<header class="mb-4 mt-7 px-2">
  <hr class="mb-4" />
  <h2 class="text-main font-bold text-2xl">Related Products</h2>
</header>
<div class="flex justify-center items-center">
  @if(!categoryProducts){
  <app-loading-spinner></app-loading-spinner>
  }@else {
  <div class="w-full max-w-7xl mx-auto">
    <owl-carousel-o [options]="customOptions">
      @for (product of categoryProducts; track product._id) {
      <ng-template carouselSlide [id]="product._id">
        <div class="px-1">
          <app-product-card
            [product]="product"
            [isInCarousel]="true"
          ></app-product-card>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
  }
</div>
