<form>
  <div class="px-12 pb-10">
    <div class="w-full mb-2">
      <div class="flex items-center">
        <input
          type="text"
          placeholder="Email Address"
          class="w-full border rounded px-3 py-2 text-gray-700 focus:outline-none"
        />
      </div>
    </div>
    <div class="w-full mb-2">
      <div class="flex items-center">
        <input
          type="password"
          placeholder="Password"
          class="w-full border rounded px-3 py-2 text-gray-700 focus:outline-none"
        />
      </div>
    </div>
    <button
      class="w-full py-2 mt-8 rounded-full bg-secondary text-gray-100 focus:outline-none"
    >
      Login
    </button>
  </div>
</form>
